.hero {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 72px;
  padding: 72px 0;
  background-color: #e5e5e5;
  overflow: hidden;
}

.hero-image-container {
  z-index: 2;
}

.hero-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  mask-image: url("../assets/portrait-shape.svg"); /* Custom SVG shape */
  mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-image: url("../assets/portrait-shape.svg"); /* Safari compatibility */
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
}

.hero-content {
  position: relative;
  z-index: 3;
  text-align: left;
  padding: 20px;
  border-radius: 10px;
}

.hero-intro {
  margin: 0;
}

.hero-title {
  font-size: 48px;
  color: #14213d;
  margin: 0;
}

.hero-description {
  font-size: 30px;
  margin-top: 10px;
  color: #14213d;
  overflow: hidden; /* Hide text during animation */
  white-space: nowrap; /* Prevent line breaks */
  border-right: 3px solid #14213d; /* Cursor effect */
  animation: typing 7s steps(30, end) infinite,
    blink-caret 0.75s step-end infinite; /* Typing and blinking effect */
  text-decoration: underline;
}

@keyframes typing {
  0%,
  100% {
    width: 0; /* Start with no text */
  }
  50% {
    width: 100%; /* Full text appears */
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent; /* Invisible border */
  }
  50% {
    border-color: #14213d; /* Visible border */
  }
}

.shape-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background-image: url("../assets/wave(2).svg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

/* Responsive design for smaller screens */
@media (max-width: 830px) {
  .hero {
    flex-direction: column;
    padding: 0 20px;
  }

  .hero-content {
    padding: 0;
    margin-top: -100px;
    text-align: center;
  }

  .hero-image {
    margin-bottom: 20px;
  }

  .hero-title {
    font-size: 36px;
    background-color: #e5e5e570;
    border-radius: 15px;
    padding: 5px;
  }

  .hero-description {
    font-size: 24px;
    text-align: center;
  }

  .shape-divider {
    background-image: url("../assets/wave(1).svg"); /* Change the SVG shape */
  }
}
