.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; /* This will align the items (logo and links) vertically */
  background-color: #000000;
  padding: 10px;
}

.logo {
  width: 50px;
  height: auto;
  margin-left: 30px;
}

.brand-name {
  display: flex;
  align-items: center; /* Align logo and text horizontally in the same line */
}

.brand-name h1 {
  font-size: 30px;
  margin: 0;
  margin-left: 10px; /* Add spacing between the logo and text */
  color: #ffffff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  transform: none;
  opacity: 1;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  font-size: 20px;
  color: #fca311;
}

.nav-links a:hover {
  color: #ffffff;
}

.cv-button {
  padding: 8px 15px;
  border: 1px solid #fca311;
  border-radius: 5px;
  color: #fca311;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cv-button:hover {
  background-color: #14213d;
  color: #ffffff;
}

/* Hamburger menu styles */
.menu-icon {
  display: none;
  cursor: pointer;
}

/* Keyframes for opening (slide in from right to left) */
@keyframes dropDown {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Keyframes for closing (slide out from left to right) */
@keyframes slideUp {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

/* Active state animation (menu opening) */
.nav-links.active {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #000000;
  position: absolute;
  top: 50px;
  left: 0;
  padding: 20px 0 20px 0;
  margin: 0;
  align-items: center;
  z-index: 4;
  animation: dropDown 0.5s ease forwards;
}

/* Inactive state animation (menu closing) */
.nav-links.inactive {
  animation: slideUp 0.5s ease forwards;
}

/* Media query for responsiveness */
@media (max-width: 830px) {
  .nav-links {
    display: none;
  }

  .nav-links.active,
  .nav-links.inactive {
    display: flex;
  }

  .menu-icon {
    display: block; /* Show hamburger menu */
  }
}
